$palette: (
    agesci-purple-0: #211638,
    agesci-purple-1: #462678,
    agesci-purple-2: #6B478D,
    agesci-purple-3: #AEB0D9,
    agesci-black-0: #000,
    agesci-black-1: rgb(27,27,27),
    agesci-white: #fff,
    agesci-yellow: #FDC500,
    agesci-green: #21A067,
    agesci-red: #E74030,
    agesci-purple-4: #9B66A5,
    agesci-secondary-blue: #92B3D7,
    agesci-secondary-yellow: #E5D6C7,
    agesci-secondary-grey: #ECE9E6
);

$black: map-get($palette, "agesci-black-0");

$branca-lc: map-get($palette, "agesci-yellow");
$branca-eg: map-get($palette, "agesci-green");
$branca-rs: map-get($palette, "agesci-red");
$coca: map-get($palette, "agesci-purple-4");
