@import '_palette';

/**
* Replace `$search` with `$replace` in `$string`
* @author Hugo Giraudel
* @param {String} $string - Initial string
* @param {String} $search - Substring to replace
* @param {String} $replace ('') - New value
* @return {String} - Updated string
*/

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

$properties: (
    "text": "color",
    "border": "border-color",
);

@each $prefixed_name, $color in $palette {
    $name: str-replace($prefixed_name, "agesci-");
    @each $className, $property in $properties{
        .#{$className}-#{$name}{
            #{$property}: #{$color}!important;
        }
    }
    .bg-#{$name} {
        background-color: #{desaturate(lighten($color, 30%), 20%)};
    }
}