@import '_palette';

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

body{
    @each $prefixed_name, $color in $palette {
        $name: str-replace($prefixed_name, "agesci-");
        --#{$name}: #{$color};
        --#{$name}-d1: #{darken($color, 10%)};
        --#{$name}-d3: #{darken($color, 30%)};
        --#{$name}-l1: #{lighten($color, 10%)};
        --#{$name}-l3: #{lighten($color, 30%)};
    }
}
